@model IEnumerable<WebAPIDemo.Models.Person>
    @{
        ViewBag.Title = "IndexWithAjax";

    }

    <h2>IndexWithAjax</h2>

    <form>
        <h5><a id="createnewlink">Create new</a></h5>

        <table id="personcreationbox" class="table">
            <tr>
                <td>Name:</td>
                <td>@Html.TextBox("Name")</td>
            </tr>
            <tr>
                <td>Surname:</td>
                <td>@Html.TextBox("Surname")</td>
            </tr>
            <tr>
                <td>Date of Birth:</td>
                <td>@Html.TextBox("DoB")</td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" id="submitbutton" value="Create" class="btn btn-default" />
                </td>
            </tr>
        </table>
        <table id="personListBox"></table>
    </form>


    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/query.js"></script>

